<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior name="MetadataBehavior">
            <serviceMetadata httpGetEnabled="false"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
        <services>
            <service name="Oms.Server.Core.Contracts.OrderServiceContract" behaviorConfiguration="MetadataBehavior">
              <endpoint address="service" binding="netTcpBinding"
                    contract="Oms.Transport.Contracts.IOrderServiceContract" listenUriMode="Explicit">
                <identity>
                  <dns value="localhost" />
                </identity>
              </endpoint>
              <endpoint address="http://localhost:9001/OrderService" binding="wsDualHttpBinding"
                  bindingConfiguration="" contract="Oms.Transport.Contracts.IOrderServiceContract" />

              <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
              <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
              <host>
                <baseAddresses>
                  <add baseAddress="http://localhost:9001/OrderService"/>
                  <add baseAddress="net.tcp://localhost:9002/OrderService"/>
                </baseAddresses>
              </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>