<appender name="ConsoleAppender" Command="log4net.Appender.ConsoleAppender">
  <layout Command="log4net.Layout.PatternLayout">
    <conversionPattern value="%date{ABSOLUTE} 
    [%thread] %level %logger - %message%newline"/>
  </layout>
  <filter Command="log4net.Filter.StringMatchFilter">
    <stringToMatch value="test" />
  </filter>
  <filter Command="log4net.Filter.DenyAllFilter" />
</appender>